@model GameBuildPortal.Models.LayoutViewModel
@{
    ViewBag.Title = @Model.Configuracion.nombre;
}

<!-- Main content -->
<section class="content">

    <div class="jumbotron">
        <h1>Bienvenido a @Model.Configuracion.nombre</h1>
        <p class="lead">Es un juego de estrategia con miles de jugadores por todo el mundo compitiendo al mismo tiempo. Para jugar sólo necesitas un navegador web.</p>
        <p>@Html.ActionLink("Inicia Sesion", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-lg btn-success" })</p>
        <p>O</p>
        <p>@Html.ActionLink("Registrate ahora", "RegisterJugador", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-lg btn-info" })</p>
    </div>

</section>
<!-- /.content -->