<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Mapa</h3>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Editar mapa</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <form id="form-mapa" name="formMapa" novalidate class="form-horizontal form-label-left" ng-submit="formMapa.$valid && edit()">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">
                        Nombre <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="nombre" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="nombre" ng-model="mapa.nombre" value="{{mapa.nombre}}">
                        <ul class="parsley-errors-list" id="parsley-id-nombre"></ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nivel">Nivel</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-model="mapa.nivel" disabled="disabled">
                            <option ng-repeat="nivel in [1,2,3,4,5]" ng-selected="mapa.nivel == nivel">{{nivel}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cantidad">Cantidad</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="number" name="cantidad" id="cantidad" class="form-control col-md-7 col-xs-12" ng-model="mapa.cantidad" value="{{mapa.cantidad}}"/>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="#/mapa" class="btn btn-primary">Cancelar</a>
                        <button class="btn btn-success" ng-disabled="saving">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- form validation -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#form-mapa .btn').on('click', function() {
      $('#form-mapa').parsley().validate();
      validateFront();
    });

    var validateFront = function() {
      if (true === $('#form-mapa').parsley().isValid()) {
        $('.bs-callout-info').removeClass('hidden');
        $('.bs-callout-warning').addClass('hidden');
      } else {
        $('.bs-callout-info').addClass('hidden');
        $('.bs-callout-warning').removeClass('hidden');
      }
    };
  });
</script>
<!-- /form validation -->
