@{
    Layout = "~/Views/Shared/_LayoutActive.cshtml";
    ViewBag.Title = "Expiro solicitud";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <h3>Esta solicitud de juego ha expirado</h3>
    </div>
</section>