<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Dashboard</h3>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="row x_title">
            <div class="col-md-6">
                <h3>Nuevos jugadores en el tiempo</h3>
            </div>
            <div class="col-md-6">
                <div id="dateRangeNuevos" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </div>
            </div>
        </div>

        <div class="x_content">
            <div style="width: 100%;">
                <div id="porNuevos" class="demo-placeholder" style="width: 100%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="row x_title">
            <div class="col-md-6">
                <h3>Actividad de los jugadores</h3>
            </div>
            <div class="col-md-6">
                <div id="dateRangeSesion" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </div>
            </div>
        </div>

        <div class="x_content">
            <div style="width: 100%;">
                <div id="porSesion" class="demo-placeholder" style="width: 100%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>