<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Dashboard</h3>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <h2>Nuevos jugadores en el tiempo</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="porNuevos" style="width:100%; height:400px;"></div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <h2>Actividad de los jugadores</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="porSesion" style="width:100%; height:400px;"></div>
        </div>
    </div>
</div>