<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Edificios</h3>
        </div>

        <div class="title_right">
            <div class="pull-right">
                <a href="#/edificio/add" class="btn btn-info" ng-if="recursos.length > 0">Agregar</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" ng-if="recursos.length == 0">
    <div class="alert alert-danger fade in">
        <strong>Hay un eror!</strong> No es posible agregar edificios sin haber ingresado un recursos antes.
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="row">
                            <h2>Listado de edificios</h2>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pull-right top_search">
                        <input type="text" class="form-control" ng-model="buscador" placeholder="Buscar...">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="edificio in edificios | filter:buscador">
                        <td>{{edificio.id}}</td>
                        <td class="chat"><div class="item"><img src="/Content/upload/{{edificio.foto}}" width="50" height="50" /></div></td>
                        <td>{{edificio.nombre}}</td>
                        <td>{{edificio.descripcion}}</td>
                        <td>
                            <div class="btn-group">
                                <a href="#/edificio/edit/{{edificio.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                                <a class="btn btn-danger btn-xs" ng-click="borrar($index)"><i class="fa fa-trash-o"></i> </a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
