<div class="box box-primary">
  <div class="box-header">
    <h1 class="page-header">Chat de alianza <strong>{{ alianza.nombre }}</strong></h1>
  </div>
  <div class="box-body">
      <div class="callout callout-danger" ng-if="!alianza">
          <h4>Usted no se encuentra en ninguna alianza</h4>
      </div>

      <div class="row" ng-if="alianza">
          <div class="col-md-4 col-xs-12">
              <div class="box box-success">
                  <div class="box-header with-border">
                      <h3 class="box-title">Miembros</h3>
                  </div>
                  <div class="box-body no-padding">
                      <ul class="users-list clearfix">
                          <li ng-repeat="miembro in miembros">
                              <img src="/Content/front/img/avatar5.png">
                              <a class="users-list-name" style="font-size: 11px;">{{miembro.email}}</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-8 col-xs-12">
              <div class="box box-primary">
                  <div class="box-header with-border">
                      <h3 class="box-title">Mensajes</h3>
                  </div>
                  <div class="box-body direct-chat direct-chat-primary">
                      <div class="direct-chat-messages" id="chat-box">

                          <div ng-repeat="chat in mensajes" on-finish-render="ngRepeatFinished" class="direct-chat-msg" ng-class="{'right': chat.usuario == me.email}">
                              <div class="direct-chat-info clearfix">
                                  <span class="direct-chat-name" ng-class="{'pull-right': chat.usuario == me.email}">{{chat.usuario}}</span>
                              </div>
                              <img class="direct-chat-img" src="/Content/front/img/avatar5.png" alt="Message User Image">
                              <div class="direct-chat-text">{{chat.mensaje}}</div>
                          </div>

                      </div>
                  </div>
                  <div class="box-footer" ng-if="alianza">
                      <form role="form" name="formChat" ng-submit="formChat.$valid && addMensaje()">
                          <div class="input-group">
                              <input type="text" name="message" required placeholder="Escribe un mensaje..." class="form-control" ng-model="mensaje">
                              <span class="input-group-btn">
                                  <button type="submit" class="btn btn-primary btn-flat">Enviar</button>
                              </span>
                          </div>
                      </form>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
    
</div>