<div class="box box-primary">
  <div class="box-header">
    <h1 class="page-header">{{interaccionNombre}} <small>Usuario seleccionado: {{receiverUsuario.usuario}}</small></h1>
  </div>
  <div class="box-body">
      <div class="callout callout-success" id="mensaje-interaccion" style="display:none;">
          <h4>Solicitud enviada correctamente.</h4>
      </div>
      <div class="row">
          <div class="col-md-12 col-xs-12">
              <div class="col-md-12 col-xs-12 text-aqua"><h4>Mi informaci&oacute;n</h4></div>
              <div class="col-md-6 col-xs-12" ng-if="destacamentos.length">
                  <div class="box box-primary">
                      <div class="box-header">
                          <h3 class="box-title">Destacamentos</h3>
                      </div>
                      <div class="box-body">
                          <table class="table table-condensed">
                              <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Cantidad a enviar</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="destacamento in destacamentos">
                                      <td>{{destacamento.nombre}}</td>
                                      <td>
                                          <select class="form-control col-xs-1" ng-model="requester.flota[destacamento.id]">
                                              <option ng-repeat="cant in destacamento.cantidad">{{cant}}</option>
                                          </select>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-xs-12" ng-if="recursos.length">
                  <div class="box box-primary">
                      <div class="box-header">
                          <h3 class="box-title">Recursos</h3>
                      </div>
                      <div class="box-body">
                          <table class="table table-condensed">
                              <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Cantidad a enviar</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="recurso in recursos">
                                      <td>{{recurso.nombre}}</td>
                                      <td><input type="number" class="form-control col-xs-1" ng-model="requester.recurso[recurso.id]"/></td>
                                      <td>{{recurso.cantidad}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      
          <br />

          <div class="col-md-12 col-xs-12" ng-if="destacamentosReceiver.length || recursosReceiver.length">
              <div class="col-md-12 col-xs-12 text-green"><h4>Informaci&oacute;n del Jugador {{receiverUsuario.usuario}}</h4></div>
              <div class="col-md-6 col-xs-12" ng-if="destacamentosReceiver.length">
                  <div class="box box-success">
                      <div class="box-header">
                          <h3 class="box-title">Destacamentos</h3>
                      </div>
                      <div class="box-body">
                          <table class="table table-condensed">
                              <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Cantidad a enviar</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="destaReceiver in destacamentosReceiver">
                                      <td>{{destaReceiver.nombre}}</td>
                                      <td>
                                          <select class="form-control col-xs-1" ng-model="receiver.flota[destaReceiver.id]">
                                              <option ng-repeat="cant in destaReceiver.cantidad">{{cant}}</option>
                                          </select>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-xs-12" ng-if="recursosReceiver.length">
                  <div class="box box-success">
                      <div class="box-header">
                          <h3 class="box-title">Recursos</h3>
                      </div>
                      <div class="box-body">
                          <table class="table table-condensed">
                              <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Cantidad a enviar</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="recReceiver in recursosReceiver">
                                      <td>{{recReceiver.nombre}}</td>
                                      <td><input type="number" class="form-control col-xs-1" ng-model="receiver.flota[recReceiver.id]"/></td>
                                      <td>{{recReceiver.cantidad}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <div class="box-footer">
      <button class="btn btn-success btn-flat btn-lg pull-right" ng-click="ejecutarInteraccion()" ng-disabled="showLoading">Ejecutar</button>
  </div>
    <div class="overlay" ng-if="showLoading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>