<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box box-primary">
		  <div class="box-body box-profile">
		    <h3 class="profile-username text-center">Edificios</h3>

		    <atlas2-unidad-construccion ng-repeat="unidad in construyendoEdificio"></atlas2-unidad-construccion>

            <ul class="products-list product-list-in-box" ng-if="!construyendoEdificio.length">
                <li class="item">
                    <p class="product-description text-center">
                        No hay nada en construcci&oacute;n
                    </p>
                </li>
            </ul>
		    
		  </div>
		  <!-- /.box-body -->
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box box-primary">
		  <div class="box-body box-profile">
		    <h3 class="profile-username text-center">Investigaciones</h3>

		    <atlas2-unidad-construccion ng-repeat="unidad in construyendoInvestigacion"></atlas2-unidad-construccion>

            <ul class="products-list product-list-in-box" ng-if="!construyendoInvestigacion.length">
                <li class="item">
                    <p class="product-description text-center">
                        No hay nada en construcci&oacute;n
                    </p>
                </li>
            </ul>

		  </div>
		  <!-- /.box-body -->
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="box box-primary">
		  <div class="box-body box-profile">
		    <h3 class="profile-username text-center">Destacamentos</h3>

                <atlas2-unidad-construccion ng-repeat="unidad in construyendoDestacamento"></atlas2-unidad-construccion>

                <ul class="products-list product-list-in-box" ng-if="!construyendoDestacamento.length">
                    <li class="item">
                        <p class="product-description text-center">
                            No hay nada en construcci&oacute;n
                        </p>
                    </li>
                </ul>

		  </div>
		  <!-- /.box-body -->
		</div>
	</div>
</div>
