<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Investigaciones</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="unidad in investigaciones">
                <atlas2-unidad></atlas2-unidad>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-info fade" id="modal-info-investigacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>{{investigacion.nombre}}</h4>
                <h5>{{investigacion.descripcion}}</h5>
                <h5><span class="label label-success">Nivel {{investigacion.nivel}}</span></h5>
            </div>
            <div class="modal-footer">
                <div class="row" ng-if="investigacion.produce.length">
                    <div class="col-sm-12">
                        <h5 class="text-center">Producci&oacute;n actual por hora</h5>
                    </div>
                    <div ng-repeat="produce in investigacion.produce" class="col-sm-{{12 / investigacion.produce.length | number}}">
                        <div class="description-block">
                            <h5 class="description-header">{{produce.valor}}</h5>
                            <span class="description-text">{{produce.recurso.nombre}}</span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="investigacion.capacidad.length">
                    <div class="col-sm-12">
                        <h5 class="text-center">Capacidad de almacenamiento actual</h5>
                    </div>
                    <div ng-repeat="capacidad in investigacion.capacidad" class="col-sm-{{12 / investigacion.capacidad.length | number}}">
                        <div class="description-block">
                            <h5 class="description-header">{{capacidad.valor}}</h5>
                            <span class="description-text">{{capacidad.recurso.nombre}}</span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="edificio.costos.length">
                    <div class="col-sm-12">
                        <h5 class="text-center">Costo siguiente nivel</h5>
                    </div>
                    <div ng-repeat="costo in investigacion.costos" class="col-sm-{{12 / investigacion.costos.length | number}}">
                        <div class="description-block">
                            <h5 class="description-header">{{costo.valor}}</h5>
                            <span class="description-text">{{costo.recurso.nombre}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->