<div class="box box-primary">
  <div class="box-header">
    <h1 class="page-header">Zona</h1>
  </div> 
  <div class="box-header with-border">
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-3" ng-repeat="mapa in mapas">
                      <div class="form-group">
                          <label>{{mapa.nombre}}</label>
                          <select class="form-control filtros" data-nivel="{{mapa.nivel}}">
                              <option ng-repeat="cant in mapa.zonas" ng-selected="cant == filtros[mapa.nivel]">{{cant}}</option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="box-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Jugador</th>
            <th>Alianza</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in zonaRows" class="{{row.classRow}}">
            <td>{{row.id}}</td>
            <td>{{row.nombre}}</td>
            <td><a>{{row.jugador.usuario}}</a></td>
            <td>{{row.alianza}}</td>
            <td>
              <div class="btn-group" ng-if="!row.classRow && row.jugador">
                  <a href="#/interaccion/comercializar/{{row.coloniaId}}" class="btn btn-sm btn-info btn-flat" title="Comercializar"><i class="fa fa-dollar"></i></a>
                  <a href="#/interaccion/atacar/{{row.coloniaId}}" class="btn btn-sm btn-success btn-flat" title="Atacar"><i class="fa fa-bolt"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- /.table -->
  </div>
</div>