@{
    ViewBag.Title = "Confirmar Email";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Presiona aqui para inisiar sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</section>