@model GameBuildPortal.Models.LayoutViewModel
@{
    ViewBag.Title = "Fallo login";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <h3 class="text-danger">No se pudo inisiar sesion con el servicio.</h3>
        </div>
    </div>
</section>