<div class="info-box bg-navy">
    <span class="info-box-icon"><i class="fa fa-leaf"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">{{recurso.nombre}}</span>
        <span class="info-box-number">{{recurso.cantidad}}</span>
        <div class="progress">
        <div class="progress-bar" style="width: {{(100 * recurso.cantidad) / recurso.capacidad}}%"></div>
        </div>
        <span class="progress-description">
        {{recurso.cantidad}} de {{recurso.capacidad}} <br />
            Producci&oacute;n por hora: {{recurso.produce}}
        </span>
    </div>
</div>