<div class="box box-primary">
    <div class="box-body box-profile" style="height:230px;">
        <img class="img-responsive" <img src="/Content/upload/{{unidad.foto}}" width="242" height="200">
        <h3 class="profile-username text-center">{{unidad.nombre}}</h3>
        <p class="text-muted text-center">Nivel: {{unidad.nivel}}</p>
        <p class="text-blue text-center" ng-if="unidad.enConstruccion">En construcci&oacute;n...</p>
        <p class="text-muted text-center" ng-if="!unidad.enConstruccion">Tiempo de construcci&oacute;n: {{unidad.tiempoInicial}}</p>
    </div>
    <div class="box-footer">
        <div class="input-group pull-left">
            <button class="btn btn-info btn-flat" ng-click="mostrarInfo(unidad)"><i class="glyphicon glyphicon-search"></i></button>
        </div>
        <div class="input-group pull-right">
            <button class="btn btn-danger btn-flat" ng-disabled="showLoading || unidad.enConstruccion" ng-click="bajarNivel(unidad)" ng-if="unidad.nivel > 0"><i class="glyphicon glyphicon-chevron-down"></i></button>
            <button class="btn btn-success btn-flat" ng-disabled="showLoading || unidad.enConstruccion" ng-click="subirNivel(unidad)"><i class="glyphicon glyphicon-chevron-up"></i></button>
        </div>
    </div>
    <div class="overlay" ng-if="showLoading == unidad.id">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
  <!-- /.box-body -->
</div>